@import './assets/styles/_variables.scss';

.navbar{
    a{
        color: $primary;
        text-decoration: none;
    }
    .navbar-toggler{
        img{
            width: 13px;
            height: 13px;
        }
    }
    .navbar-nav{
        font-family: Open Sans;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;

        .nav-link{
            padding-right: 20px;
            padding-left: 20px;
        }
    }
    .navbar-brand{
        font-weight: bold;
        font-size: 25px;
        line-height: 33px;
    }
    .container{
        display: block !important;
    }
    .form-control{
        &::-webkit-input-placeholder{
            color: #E1E1E1;
        }
        border: none;
        box-shadow:none;
        font-size: 10px;
        line-height: 12px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        @media screen and (min-width: 991px){
            width: 319px;
        }
    }
    .nav-box{
        background-color: #FFF;
        border: 1px solid #F2F2F2;
        box-sizing: border-box;
        padding-right: 10px;
        box-shadow: 0px 4px 4px rgba(221, 221, 221, 0.15);
        &.shadow-none{
            box-shadow: none;
        }
        &.p3{
            padding-bottom: 3px;
            padding-top: 3px;
        }
    }
    .login-text{
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 10px;
        line-height: 14px;
        margin-left: 7px;
        // color: #000;
    }
    .row-p{
        margin: auto 0;
        >*{
            padding: 0 5px;
        }
    }
    .float-count{
        background-color: #0094FF;
        border-radius: 100%;
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 10px;
        text-align: center;
        color: #FFF;
        width: 13px;
        height: 13px;
        top: 50%;
        left: 50%;
        position: absolute;
    }

    .btn-login{
        background: $secondary;
        border: 1px solid #F2F2F2;
        padding: 4px 16px;
        &:hover{
            background-color: $primary;
            color: $secondary !important;
            transition: 500ms all;
            svg{
                path{
                    fill: $secondary;
                }
            }
        }
    }
}

footer{
    background: #C0AAA0;
    position: relative;
    @media screen and (max-width: 768px) {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .bg-dark{
        background-color: #000 !important;
        padding-top: 71px;
        padding-left: 24px;
        padding-right: 82px;
        width: 371px;
        @media screen and (max-width: 768px) {
            width: auto;
            margin: auto -15px;
            padding: 15px 30px;
        }
    }
    h1{
        font-style: normal;
        font-size:25px;
        line-height:33px;
        color: #FFFFFF;
        margin-bottom: 32px;
        font-weight: bold;
    }
    h2{
        font-weight: bold;
        font-size: 20px;
        line-height: 27px;
        color: #FFF;
        margin-bottom: 38px;
    }
    p{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 14px;
    }

    .col-md{
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 195.68%;
        color: #000000;
    }

    .description{
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 195.68%;
        color: #FFFFFF;
        margin-bottom: 91px;
    }

    .hline{
        height: 1px;
        background-color: #EAEAEA;
        position: absolute;
        top:75%;
        left: 11%;
        right: 11%;
        @media screen and (max-width: 768px) {
            top: 93%;
        }
    }

    .col-lg-6{
        padding-top: 71px;
        margin-bottom: 51px;
        @media screen and (max-width: 768px) {
            padding-top: 15px;
            margin-bottom: 0;
            text-align: center;

            h2{
                margin-bottom: 15px;
            }
        }
        a{
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 14px;
            color: #000;
            margin-bottom: 5px;
            display: block;
            text-decoration: none;
        }
        .justify-content-end{
            margin-bottom: 31px;
            @media screen and (max-width: 768px) {
                justify-content: center !important;
                margin-bottom: 0;
            }
            .col-auto{
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 195.68%;
                color: #FFF;
            }
        }
    }

    .small-text{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 195.68%;
        color: #FFF;
        @media screen and (max-width: 768px) {
            text-align: center !important;
        }
    }

    .social-media{
        justify-content: flex-start;
        margin-top: 13px !important;
        @media screen and (max-width: 768px) {
            justify-content: center;
        }
    }

    .row-p{
        margin: auto -10px;
        >*{
            padding: 0 10px;
        }
    }

    .mb{
        margin-bottom: 102px;
        @media screen and (max-width: 768px) {
            margin-bottom: 32px;
        }
    }
}

.vertical-xs{
    // @media screen and (max-width: 768px) {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        overflow-x: auto;
        margin: 0 0px !important;
        margin-top: -10px !important;
        padding: 0 15px !important;
        @media screen and (max-width: 768px) {
            // margin: 0 -15px !important;
        }

        > * {
            padding: 0 !important;
            display: inline-block;
            float: none;
            width: 300px;
            margin-left: 5px;
            margin-right: 5px;
            // padding-bottom: 10px !important;
            // padding-top: 10px !important;
            max-width: inherit;
            vertical-align: top;
            white-space: normal;
            margin-bottom: 42px;
            @media screen and (max-width: 768px) {
                padding: 0 5px !important;
                width: 250px;
            }
        }

        &.scroll-white{
            &::-webkit-scrollbar {
                height: 6px;
            }
            
            /* Track */
            &::-webkit-scrollbar-track {
                background: #000;
                border-bottom: 1px solid #FFF;
            }
            
            /* Handle */
            &::-webkit-scrollbar-thumb {
                background: #FFF; 
            }   
        }

        &::-webkit-scrollbar {
            height: 6px;
        }
        
        /* Track */
        &::-webkit-scrollbar-track {
            background: #FFF;
            border-bottom: 2px solid #000;
        }
        
        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #000000; 
        }     
          
    // }
}

.valign {
    display: table;
    width: 100%;
    height: 100%;
  
    .inner {
        vertical-align: middle;
        display: table-cell;

        &.bottom {
        vertical-align: bottom;
        }
    }
}

.head-line-primary{
    background: linear-gradient(90deg, #000000 26.42%, rgba(236, 198, 177, 0) 73.58%);
    width: 100%;
    height: 2px;
    &.rotate-min-180{
        transform: rotate(-180deg);
    }
}

.head-line-secondary{
    background: linear-gradient(90deg, #AC9A92 26.42%, rgba(172, 154, 146, 0) 73.58%);
    width: 100%;
    height: 2px;
    &.rotate-min-180{
        transform: rotate(-180deg);
    }
}