@import './variables';

#section-discover{ // id=section-discover
    position: relative;
    background-color: #000;
    padding: 162px 0 177px;
    @media screen and (max-width: 768px) {
        text-align: center;
        padding: 15px 0;
    }
    h2{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bold;
        font-size: 36px;
        line-height: 200.18%;
        color: #FFF;
    }
    .line-discover{
        background-color: #FFF;
        width: 76px;
        height: 4px;
        position: absolute;
        bottom: 0;
        left: 0;
        @media screen and (max-width: 768px) {
            width: 100%;
            transition: 500ms all;
        }
    }
    .line-shop{
        background-color: #FFF;
        width: 40px;
        height: 4px;
        position: absolute;
        bottom: 0;
        left: 0;
        @media screen and (max-width: 768px) {
            width: 100%;
            transition: 500ms all;
        }
    }
    .line-love{
        background-color: #FFF;
        width: 108px;
        height: 4px;
        position: absolute;
        bottom: 0;
        left: 0;
        @media screen and (max-width: 768px) {
            width: 100%;
            transition: 500ms all;
        }
    }
    p{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: normal;
        font-size: 20px;
        line-height: 130%;
        color: #FFF;
    }
}

#section-popular-category{ // id=section-popular-category
    .slick-slider{
        @media screen and (max-width: 768px) {
            .slick-arrow{
                display: none !important;
            }
        }
    }
    &.mt-5{
        margin-top: 650px !important;
        @media screen and (max-width: 768px) {
            margin-top: 0 !important;
        }
    }

    .item{
        filter: drop-shadow(0px 4px 9px rgba(0, 0, 0, 0.25));
    }

    .category{
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: #000;
        padding: 14px 18px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        color: #FFF;
        text-decoration: none;
        @media screen and (max-width: 768px) {
            left: 2%;
        }
        &.category-white{
            background-color: #FFF;
            color: #000;
        }
    }

    h2{
        font-weight: bold;
        font-size: 25px;
        line-height: 33px;
        color: $primary;
        text-align: center;
        margin-bottom: 59px;
    }
    
    &.bg-dark{
        background-color: #000 !important;
    }

    padding-bottom: 69px;
    padding-top: 69px;

    .row{
        margin: auto -5px;
        > * {
            padding: 0 5px;
        }
    }
}

#brands{
    padding: 65px 0;
    height: 400px;
    background-color: #f2f2f2;

   h2{
        font-weight: bold;
        font-size: 30px;
        line-height: 40px;
        text-align: center;
        margin-bottom: 59px;
    }
    .slick-slider{
        @media screen and (max-width: 768px) {
            .slick-arrow{
                display: none !important;
            }
        }
        img{
            width: 135px;
            margin:auto;
            transition: 500ms all;
            &.slick-arrow{
                width: auto;
                transition: none;
                top: 35%;
                height: auto;
            }
        }
        .slick-slide{
            &.slick-active{
                &.slick-center{
                    &.slick-current{
                        img{
                            width: 193px !important;
                            transition: 500ms all;
                        }
                    }
                }   
            }
        }
    }
}

.carousel{
    .carousel-caption{
        top: 20%;
        right: unset;
        left: 0;
        margin-left: 125px;
        h5{
            font-style: normal;
            font-weight: bold;
            font-size: 50px;
            line-height: 67px;
            color: #000;
            margin-bottom: 33px;
        }
        .btn-primary{
            background: #FFFFFF;
            box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.2);
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 19px;
            color: $primary;
            border: none;
            border-radius: 0;
            padding: 11px 8px;
        }
    }
    .carousel-indicators{
        right: unset;
        top: unset;
        margin-left: 125px;
        margin-right: unset;
        margin-bottom: 94px;
        @media screen and (max-width: 768px){
            margin-left: 0;
            margin-right: unset;
            margin-bottom: 0;
        }
        li{
            box-sizing: content-box;
            -ms-flex: 0 1 auto;
            flex: 0 1 auto;
            width: 30px;
            text-align: center;
            margin-right: 3px;
            margin-left: 3px;
            cursor: pointer;
            background-color: transparent;
            opacity: .5;
            transition: opacity .6s ease;
            text-indent: unset;
            height: unset;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: bold;
            font-size: 10px;
            line-height: 14px;
            padding: 8px;
            &.active{
                opacity: 1;
                background-color: #FF9920;
                color: #FFF;
            }
        }
    }
}
#section-banner{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
    @media screen and (max-width: 768px) {
        position: relative;
    }
}